<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000"> <link rel="manifest" th:href="@{/manifest.json}">
    <link rel="apple-touch-icon" sizes="192x192" th:href="@{/assets/icons/icon-192.png}">
    <title>Feed Immersif - Football Family</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css(v=${cssVersion})}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script th:src="@{/service-worker-register.js}" defer></script>
</head>
<body>

    <header>
        <div class="logo">Football Family</div>
    </header>

    <div id="video-container" th:insert="fragments/video-cards :: video-cards(${videos})"></div>

    <div id="loader" style="display: none;"><p>Chargement...</p></div>

    <div th:insert="fragments/navbar :: mobile-navbar"></div>


</body>
</html>